**===== Python / uv =====**

.venv/
pycache/
*.pyc

**===== Jupyter =====**

.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

**===== Environment variables =====**

.env
notebooks/.env

**===== macOS =====**

.DS_Store
notebooks/.DS_Store